<?xml version="1.0"?>
<launch>
  <include file="$(find gravity_comp_joint_traj_controller)/launch/spawn_kortex_robot.launch">
    <arg name="debug" value="false"/>
    <arg name="paused" value="false"/>
  </include>
  <group ns="my_gen3">
     <rosparam command="load" file="$(find gravity_comp_joint_traj_controller)/config/kinova_gen3_controllers.yaml"/>
     <node name="kinova_gen3_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
       output="screen" args="spawn joint_state_controller gen3_joint_trajectory_controller"/>
  </group>

</launch>
